* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 20%;
}

.title {
    padding: 25px 10px;
    background-color: rgb(25, 135, 84);
    margin: 10px 0;
    border-radius: 5px;
}

.title h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.label-input {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.label-input .label {
    flex: 1;
    font-size: 20px;
}

.label-input .input {
    flex: 1;
}

.label-input .input input {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(25, 135, 84);
    background-color: white;
    color: rgb(25, 135, 84);
}

.label-input .text {
    flex: 1;
    font-size: 20px;
    color: red;
}


button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(25, 135, 84);
    background-color: white;
    color: rgb(25, 135, 84);
    cursor: pointer;
}

button:hover {
    background-color: rgb(25, 135, 84, 0.8);
    color: rgb(221, 219, 217);
}

/* Popup section */
.popup {
    text-align: center;
    background-color: rgb(166, 177, 166);
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.popup img {
    border-radius: 50%;
    height: 80px;
    margin-top: -50px;
}

.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(25, 135, 84);
    background-color: rgb(166, 177, 166);
    color: rgb(25, 135, 84);
    cursor: pointer;
}

.popup button:hover {
    background-color: rgb(25, 135, 84);
    color: rgb(221, 219, 217);
}

.popup-window {
    position: fixed;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%) scale(0);
    transition: all 0.5s ease;
    z-index: 1;
}

.show-popup {
    transform: translate(-50%, -50%) scale(1);
    /* z-index: 1000; */
}

@media screen and (max-width: 1620px) {
    .container {
        margin: 0 10%;
    }

    .label-input {
        flex-direction: column;
    }

    .label-input .label {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .label-input .input {
        width: 100%;
    }

    .label-input .input input {
        width: 100%;
    }

    .label-input .text {
        width: 100%;
    }

    button {
        margin-top: 5px;
    }
}